@use 'vars';

.button{
    background-color: white;
    border-radius: .8rem;
    border: solid vars.$text-color 1px;
    margin: .5rem;
    padding: .35rem;
}
.button:hover{
    background-color: vars.$text-color;
    color: white;
}

.main{
    
    padding: 3rem 2rem;
    overflow-y:scroll;
    &__image-container{
        display: inline-block;
        background-color: vars.$background-light;
        padding: .5rem 1rem;
        margin: 0 auto;
        width: 100%;
    }
    &__image{
        
        margin: 0 auto;
        min-height: 9rem;
        aspect-ratio: 1/0.579;
    }

    &__comments{
        margin: 0;
    }
   &__comment-list {
        
    tr{
        margin: 2.5rem;
    }
    td{
        display: inline-block;
        border: solid vars.$background-light 3px;
        padding: 1rem 2.5rem;   
        border-radius: .65rem;
        width: 100%;
        margin: .35rem 0;
        color: vars.$text-color
        
        }
    }
}





/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    /* Styles */
    .main{

        &__image{
            width: 35vw;
        }
        &__comment-list{
            max-width: 40rem;
        }
    }

}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
    }