{% extends "auctions/layout.html" %} {% block body %}
  <div class="main__index">
    {% for obj in context%}
      <div class="main__wrapper wrapper">
        <a class="main__link" href=" {% url 'auctions:new_listing_detail' obj.slug %}">
        <img class="main__image image" src="{{ obj.image.url  }}" alt="{{ obj.title }}"/>
        <div class="main__listdetail">
          <h3>
           {{ obj.title }}
          </h3></a>

          <span>Starting Bid: </span>${{ obj.start_price }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
