{% extends "auctions/layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
    <table>
        <div class="main__watchlist">
            <img src="{{  listing.image.url }}" alt="{{listing.title}}">
            <form action="{% url 'auctions:new_listing_detail' listing.slug %}" method="POST"> 
                {% csrf_token %}
                {% for field in watchlist_form %}

                    {{ field.errors }}
                    {{ field.label_tag }} {{field}}
                {% if field.help_text %}
                    {{ field.help_text }}
                {% endif %}
                {% endfor%}
                {%if watchlist %}
                    <input type="submit" name="watchlist" value="Add">
                {% else %}
                    <input type="submit" name="watchlist" value="Remove">
                {% endif %}
            </form>
        </div>

        <div class="main__bid-form">
            {% if current_bid %}
                <h6>Starting Bid: </h6> <span> ${{ current_bid.bid__max }}</span>
                {% else %}
                <h6>Current Bid: </h6> <span> ${{ current_bid.bid__max }}</span>
            {% endif %}

            <form action="{% url 'auctions:new_listing_detail' listing.slug %}" method="POST">
                {% for field in bid_form %}
                    {{ field.errors }}
                    {{ field.label_tag }} {{field}}
                {% if field.help_text %}
                    {{ field.help_text }}
                {% endif %}
                {% endfor%}
                    <input type="submit" name="bid" value="Bid">
                </form>
            </div>
    </table>


    <div class="main__comments">
        <form action="{% url 'auctions:new_listing_detail' listing.slug %}" method="POST">
            {% for field in comment_form %}
                {{ field.errors }}
                {{ field.label_tag }} {{field}}
            {% if field.help_text %}
                {{ field.help_text }}
            {% endif %}
            {% endfor%}
            <input type="submit" name="comment" value="Add Comment">
        </form>


    </div>



{% endblock body %}




