
{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}


{% block body %}
    <div class="main__section">
        <h2 class="main__heading">Create Listings</h2>

        <form class="main__form" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        <table border="1">
            {% for field in form.visible_fields %}
              <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                  {{ field.errors }}
                  {{ field }}
                  {{ field.help_text }}
                </td>
              </tr>
            {% endfor %}
          </table>

            <button class="main__submit" type="submit">SUBMIT</button>
        </form>
    </div>

{% endblock %}
