{% extends "auctions/layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
    <div class="main__image-container">
        <img class="main__image"src="{{  listing.image.url }}" alt="{{listing.title}}">
    </div>
        <div class="main__watchlist">

            {% if user.is_authenticated %}
            {% include 'auctions/partials/watchlist_form.html' %}
            {% comment %} <form action="{% url 'auctions:new_listing_detail' listing.slug %}" method="POST">
                {% csrf_token %}
                {% for field in watchlist_form %}

                    {{ field.errors }}
                    {{ field.label_tag }} {{field}}
                {% if field.help_text %}
                    {{ field.help_text }}
                {% endif %}
                {% endfor%}
                {%if watchlist_active %}
                    <input type="hidden" name="active" id="id_active">
                    <input type="submit" name="watchlist" class="button" value="Add">
                {% else %}

                    <input type="submit" name="watchlist" class="button" value="Remove">
                {% endif %}
            </form> {% endcomment %}
        </div>
        {% endif %}

        <div class="main__bid-form">

            <h6>Current Bid:  <span> ${{ current_bid |floatformat:2}}</span> </h6>
            {% if user.is_authenticated %}
                <h6>Available Cash:  <span> ${{ user_cash |floatformat:2}}</span> </h6>

            <form action="{% url 'auctions:new_listing_detail' listing.slug %}" method="POST">
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for field in bid_form %}
                    {{ field.errors }}
                    {{ field.label_tag }} {{field }}
                {% if field.help_text %}
                    {{ field.help_text }}
                {% endif %}
                {% endfor%}


                    <input type="submit" name="bids" class="button" value="Bid">
                </form>
            </div>
            {% endif %}



    <div class="main__comments">
        {% if user.is_authenticated %}

        <table>
            <tr>
                <form action="{% url 'auctions:new_listing_detail' listing.slug %}" method="POST">
                    {% csrf_token %}

                    {% for field in comment_form %}
                        {{ field.errors }}
                        {{ field.label_tag }} {{field}}
                    {% if field.help_text %}
                        {{ field.help_text }}
                    {% endif %}
                    {% endfor%}
                    <input type="submit" name="comment" class="button" value="Add Comment">
                </form>
            </tr>
        {% endif %}

    </div>
    <table class="main__comment-list">
        {% for comment in comment_list  %}
        <tr>
            <td>{{comment.text}}</td>
        </tr>
        {% endfor %}

    </table>


{% endblock body %}
