{% extends "auctions/layout.html" %} {% block body %}

<div class="main__index">
  <div class="main__detail">
    {% load crispy_forms_tags %}
    
    <img class="image" src="{{ listing.image.url}}" alt="{{listing.title}}" />
    <div class="main__detail-wrapper">
    
      <h2>{{ listing.title }}</h2>
      {% if user.is_authenticated %}
{% comment %} watchlist form {% endcomment %}
        <form action="{% url 'auctions:listing_detail' listing.slug %}"
          method="POST" >{% csrf_token %}
          {{watchlist.label_tag}}
          {{ watchlist | crispy }}
          <input type="submit" name="watchlist" value="Add to Watchlist" >
        </form>
      {% endif %}
      <strong><p>Description:</p> </strong>{{ listing.description }}
      <strong><p>Starting Price</p> </strong> {% if max_bid %}${{ max_bid.bid__max }}{% endif %} 
      {% comment %} ${{listing.start_price}} {% endcomment %}
{% comment %} bid form {% endcomment %}
      {% if user.is_authenticated %}
            <form action="{% url 'auctions:listing_detail' listing.slug %}"
              method="POST"
            >
              {% csrf_token %}{{bids | crispy}}
              <input type="submit" name="bids" value="Bid">
            </form>
        {% endif %}
      <strong>
        <p>End date:</p>
      </strong>
      <p>{{listing.auction_end}}</p>
    </div>

    {% comment %} Needs to check if user is owner of listing for deletion
    priviliges {% endcomment %}
    <div>
      {% if user.is_authenticated %} 
      
      {% if not end_list == None %}
          <form action="{% url 'auctions:listing_detail' listing.slug %}" method="POST">
          {% csrf_token %}
          {% for field in end_list  %}
          <tr>
            <th>{{ field.label_tag }}</th>
            <td>
              {{ field.errors  }}
              {{ field  }}
              {{ field.help_text  }}
            </td>
          </tr>
          {% endfor %}
          
          <input type="submit" name="end_list" value="Delete">
          </form>
        {% endif %}
       {% else %} Not signed in. {%endif%}
    </div>
  </div>
  <div class="comments">
    <hr />

    <!-- <h5 class="title">Comments</h5> -->
    <p><strong>{% if success %} {{ success }} {% endif %}</strong></p>
    {% if not user.is_authenticated %}
    <h6><strong> Comments</strong></h6>
    {% endif %}
    {% if user.is_authenticated %}
      <form action="{% url 'auctions:listing_detail' listing.slug %}" method="POST">
        {% csrf_token %} {{comments | crispy}}
        <input type="submit" name="comments" value="Comment">
      </form>
    {% endif %}
    {% for comm in comment_db %}
    <p class="comments__owner">
      <strong>{{comm.owner}} :</strong> {{ comm.text }}
    </p>
    {% endfor %}
  </div>
</div>
<script>
  const btn = document.getquerySelector(".checkbox")

  btn.onclick = function () {
      document.querySelector("#watchSubmit").requestSubmit()
      
  }

 </script>
{% endblock %}
