{% extends "auctions/layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
    <div class="main__container">
        <img class="main__image"src="{{  listing.image.url }}" alt="{{listing.title}}">

        <div class="main__forms">
            {% if user.is_authenticated %}
            {% include 'auctions/partials/watchlist_form.html' %}
            {% endif %}

            {% include 'auctions/partials/bid_form.html' %}
        </div>
    </div>

    <hr>

    {% include 'auctions/partials/comment_form.html' %}




{% endblock body %}
