{% extends "auctions/layout.html" %} {% block body %}

<div class="main__index">
  <div class="main__detail">
    {% load crispy_forms_tags %}
    
    <img class="image" src="{{ listing.image.url}}" alt="{{listing.title}}" />
    <div class="main__detail-wrapper">
    
      <h2>{{ listing.title }}</h2>
      <form action="{% url 'auctions:listing_detail' listing.slug %}"
        method="POST" >{% csrf_token %}
        {{ watchlist | crispy }}
        <button type="submit" id="watchSubmit" >sub</button>
      </form>

      <strong><p>Description:</p> </strong>{{ listing.description }}
      <strong><p>Starting Price</p> </strong>${{listing.start_price}}

      <form action="{% url 'auctions:listing_detail' listing.slug %}"
        method="POST"
      >
        {% csrf_token %}{{bids | crispy}}
        <button type="submit">Place Bid</button>
      </form>

      <strong>
        <p>End date:</p>
      </strong>
      <p>{{listing.auction_end}}</p>
    </div>

    {% comment %} Needs to check if user is owner of listing for deletion
    priviliges {% endcomment %}
    <div>
      {% if user.is_authenticated %} {% comment %}
      <a class="delete" href="{% url 'auctions:listing_delete' listing.slug %}"
        >Delete this listing</a
      >
      {% endcomment %} {% else %} Not signed in. {%endif%}
    </div>
  </div>
  <div class="comments">
    <hr />

    <!-- <h5 class="title">Comments</h5> -->
    <p><strong>{% if success %} {{ success }} {% endif %}</strong></p>
    <form action="{% url 'auctions:listing_detail' listing.slug %}" method="POST">
      {% csrf_token %} {{comments | crispy}}
      <button type="submit">Send</button>
    </form>

    {% for comm in comment_db %}
    <p class="comments__owner">
      <strong>{{comm.owner}} :</strong> {{ comm.text }}
    </p>
    {% endfor %}
  </div>
</div>
<script>
  const btn = document.getquerySelector(".checkbox")

  btn.onclick = function () {
      document.querySelector("#watchSubmit").requestSubmit()
      
  }

 </script>
{% endblock %}
