

    <div class="main__bid-info" id="bid-info" hx-swap-oob="true">
        <p>Total Bids:  <span> {{ total_bids }}</span> </p>
        <h6>Current Bid:  <span> ${{ current_bid |floatformat:2}}</span> </h6>
        {% if user.is_authenticated %}
        <h6>Available Cash:  <span> ${{ user_cash |floatformat:2}}</span> </h6>

    </div>
        {% endif %}
        <form method="POST" id="bid-form">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% for field in bid_form %}
                {{ field.errors }}
                {{ field.label_tag }} {{field }}
            {% if field.help_text %}
                {{ field.help_text }}
            {% endif %}
            {% endfor%}

                <button class="button"
                hx-post="{% url 'auctions:listing_bid_form' listing.slug %}"
                hx-target="#bid-form" hx-swap="outerHTML"
                >Place Bid</button>
                </form>
